
*.iml

*.class

*.jar

deliveryService/\.idea/

deliveryService/target/surefire-reports/it\.unibo\.DeliveryServiceTest\.txt

deliveryService/target/maven-archiver/

deliveryService/target/surefire-reports/

*.kotlin_module

restaurantService/\.idea/

restaurantService/models/__pycache__/

restaurantService/repo/__pycache__/

restaurantService/utils/__pycache__/

restaurantService/__pycache__/

gisService/node_modules/

gisService/\.vscode/

gisService/graphhopper_directions_api\.postman_collection\.json

gisService/graphhopper_directions_api\.postman_environment\.json

restaurantService/update\.py

acme-agency/\.idea/

acme-agency/acmeat/\.idea/

acme-agency/acmeat/target/

acme-agency/acmeat-ws/\.idea/

acme-agency/acmeat-ws/target/

acme-agency/acmeat-frontend/\.idea/

acme-agency/acmeat-frontend/target/

acme-agency/common/target/

bankService/.idea/

acmeat/.idea/

bankService/target/


