
deliveryAgency1/\.idea/

*.iml

simple-service/\.idea/

*.class

*.jar

simple-service/target/surefire-reports/com\.example\.MyResourceTest\.txt

simple-service/target/surefire-reports/TEST-com\.example\.MyResourceTest\.xml

deliveryService/\.idea/

deliveryService/target/surefire-reports/it\.unibo\.DeliveryServiceTest\.txt

deliveryService/target/maven-archiver/

deliveryService/target/surefire-reports/

*.kotlin_module

restaurantService/\.idea/

restaurantService/models/__pycache__/

restaurantService/repo/__pycache__/

restaurantService/utils/__pycache__/

restaurantService/__pycache__/

acmeWebService/\.idea/

acmeWebService/target/

acmeat/\.idea/

acmeat/target/

gisService/node_modules/

gisService/\.vscode/

gisService/graphhopper_directions_api\.postman_collection\.json

gisService/graphhopper_directions_api\.postman_environment\.json


restaurantService/update\.py

acmeat-ws/\.idea/

acmeat-ws/target

