
deliveryAgency1/\.idea/

*.iml

simple-service/\.idea/

*.class

*.jar

simple-service/target/surefire-reports/com\.example\.MyResourceTest\.txt

simple-service/target/surefire-reports/TEST-com\.example\.MyResourceTest\.xml
